.Map {
    background-color: #151924;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .map {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .start {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        .back {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          button {
            color: #fff;
            background-color: #caab30;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
          }
          .icons {
            font-size: 2.8em;
            color: #fff;
          }
        }
        .logo {
          color: #fff;
        }
      }
      .finished {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .maps-one {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .img-one {
            margin-bottom: 20px;
            img {
              width: 450px;
              height: 450px;
            }
          }
          .img-two {
            display: flex;
            align-items: center;
            justify-content: space-around;
            img {
              width: 120px;
              height: 100px;
              clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
          }
        }
        .maps-word {
          display: flex;
          flex-direction: column;
          .word-one {
            font-size: 1.7em;
            color: #fff;
          }
          .word-two {
            display: flex;
            flex-direction: column;
            .word-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                color: #fff;
                background-color: #f90000;
                border: none;
                padding: 15px 20px;
                border-radius: 8px;
              }
              p {
                color: #fff;
                padding: 10px 20px;
                width: 400px;
              }
            }
          }
        }
      }
    }
  }
  