.users_row{
    background-color: #04041D;
    height: 100vh;

    .cars_row{
        background-color: #671C56;
        height: 100px;
        .column{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .hammasi_w{
                .column_all{
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    width: 300px;
                    height: 250px;
                    background-color: white;
                    margin-top: -25%;
                }
                h1{
                    color: white;
                    text-align: center;
                    font-size: 25px;
                    padding: 10px 0;
                    margin-left: -20px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                p{
                    max-width: 250px;
                    width: 100%;
                    color: white;
                    margin-left: 30px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-align: center;
                }
            }
          
        }
    }
    .btn_r{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .back{
            display: flex;
            align-items: center;
            background-color: #FCD24F;
            padding: 8px 15px;
            border-radius: 10px;
            cursor: pointer;
            border-bottom: 5px solid #EA8439;
            .btn_f{
                display: flex;
                align-items: center;
                gap: 10px;
               button{
                border: none;
                color: black;
                background-color: #FCD24F;
               }
            }
        }
        h1{
            color: white;
            font-size: 40px;

        }
    }
    h2{
        text-align: center;
        font-size: 40px;
        color: white;
        margin-top: -150px;
        padding: 180px 0;
    }
}